# defaults: can be overwritten by any page.

# last updated the site.
siteupdated = 2017-11-23

# site title (part of page ${title} probably).
sitetitle = Codemadness
# prefix site url.
siteurl = https://www.codemadness.org
# site mail used for contact "mail link".
sitemail = hiltjo@AT@codemadness.DOT.org
# site generator.
sitegenerator = saait (https://git.codemadness.org/saait/file/README.html)

# page

# page language.
lang = en
# author (global default).
author = hiltjo
# site keywords (global default), don't use too many.
keywords = blog, dwm-hiltjo, stagit, stagit-gopher
# site description (global default).
description = blog with various projects and articles about computer-related things

# default title.
title =
